{% load static %}


<html lang="en">
<head>
    <title>FluToDo</title>
    <meta charset="utf-8"/>
    <meta name="description" content="ToDo App for Fluendo Django recruitment test"/>
    <meta name="keywords" content="ToDo , Django, Fluendo"/>
    <meta name="author" content="Gustavo Escolà" />

    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
  
</head>
<body>
   
    <div class='mainBox'>
        <div class='todoBox'>
            <div class='mainTitle'>
                <h1>FluToDo</h1>
                {% if user.is_authenticated %}
                <div id='userLogBox'>
                    <span id='userName'><img id="userIcon" src="/static/user.svg" alt="UserIcon">{{ user.username }}</span>
                    <a id="logout" href="{% url 'logout'%}">Logout</a>
                </div>
        
                {% endif %}
            </div>
            
            {# The Document Body #} {% block content %} {% endblock %}
        </div>

    </div>
</body>
