.mainBox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 33, 108);
  background: linear-gradient(
    90deg,
    rgba(255, 33, 108, 1) 0%,
    rgba(52, 204, 254, 1) 28%,
    rgba(6, 251, 155, 1) 73%,
    rgba(112, 100, 100, 1) 100%
  );
}
.todoBox {
  padding: 2rem;
  width: 70%;
  height: 70%;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.contentBox {
  margin: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-evenly;
}
.mainTitle {
  height: auto;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 2rem;
}

h1,
h2,
a {
  font-weight: bold;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > p {
  margin: 1rem;
}

form > p > label {
  font-family: monospace;
}

input {
  border-radius: 5px;
  border-color: transparent;
}
input[type="submit"],
.signUpButton {
  font-weight: bold;
  color: white;
  padding: 5px 15px;
  background: #ccc;
  border: 0 none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[type="submit"]:hover,
.signUpButton:hover {
  color: #61eada;
}

/* Sign Up */
.signUpButtonBox, .loginButtonBox {
  
  color: white;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signUpButtonBox{
    position: relative;
    top: 2.4rem;
}
.signUpButton {
  text-decoration: none;
  margin: 1rem;
}
.signUpGroup {
  margin: 1rem;
  width: 60%;
}
#signUpForm {
  width: 100%;
}
.signUpFormFieldsBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signUpGroup > input {
  width: 100%;
}
.createAcountCopy {
  font-family: monospace;
  font-size: larger;
  color: black;
}
